<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Week-07/css/reset.css" />
    <link rel="stylesheet" href="../../Week-07/css/styles.css" />
    <link rel="stylesheet" href="../../Week-07/css/header.css" />
    <link rel="stylesheet" href="../../Week-07/css/footer.css" />
    <script src="../../Week-06/js/contact.js"></script>
    <title>Mega Rocket</title>
  </head>
  <body>
    <header>
      <div id="container">
        <h1>Mega Rocket</h1>
        <div id="hamburguer-icon">
          <a href=""
            ><img src="../../assets/imgs/menu-h.png" alt="menu icon"
          /></a>
        </div>
      </div>
      <nav>
        <ul>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/lnkd.svg" alt="linkedin icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/twitter.svg" alt="twitter icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img
                src="../../assets/imgs/facebook-fill.svg"
                alt="facebook icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/instagram.svg" alt="instagram icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/github.svg" alt="github icon"
            /></a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="sect-main">
      <div id="side-bar">
        <div id="nav-1">
          <input type="search" name="search" placeholder="Search" />
          <nav>
            <h3>Menu</h3>
            <ul>
              <li><a href="#">home</a></li>
              <li>
                <a href="../../Week-07/views/sign-up.html">sign up</a>
              </li>
              <li>
                <a href="../../Week-07/views/login.html">log in</a>
              </li>
              <li><a href="#">contact information</a></li>
            </ul>
          </nav>
        </div>
        <section id="nav-2">
          <h3>Contact us</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum
            assumenda ipsa tempore error, perferendis iusto quasi ullam
            repudiandae.
          </p>
          <ul>
            <li>
              <img src="../../assets/imgs/mail.svg" alt="mail" />
              <a href="mailto:info.megarocket@megarocket.com"
                >info.megarocket@megarocket.com</a
              >
            </li>
            <li>
              <img src="../../assets/imgs/telephone.svg" alt="telephone" />
              <p>54-341-xxxxxxxxx</p>
            </li>
            <li>
              <img src="../../assets/imgs/home.svg" alt="direction" />
              <p>AAA xxx, Rosario, Argentina, CP 2000</p>
            </li>
          </ul>
        </section>
      </div>
      <section id="sect-welcome">
        <nav id="nav-0">
          <ul>
            <li>
              <a href="../../Week-07/views/login.html" target="_blank"
                >log in</a
              >
            </li>
            <li>
              <a href="../../Week-07/views/sign-up.html" target="_blank"
                >sign up</a
              >
            </li>
          </ul>
        </nav>
        <h2>Welcome to <span class="uppercase">mega rocket</span></h2>
        <h3 id="title-winner">Winner of Lorem ipsum of the year</h3>
        <img src="../../assets/imgs/main-image.png" alt="people training" />
        <p>
          No solo ganamos el premio, sino que somo el premio: Lorem ipsum dolor
          sit amet, consectetur adipiscing. Suspendisse feugiat ante odio, id
          semper erat varius.Fusce ultricies tempor vehicula. In lobortis varius
          arcu et dignissim. Donec egestas ligula lacus,nec eleifend odio tempor
          vel. Vestibulum ante ipsum primis in faucibusorci luctus et ultrices
          posuere cubilia curae; In lobortis varius arcu et dignissim. Donec
          egestas ligula lacus,nec eleifend odio tempor vel. Vestibulum ante
          ipsum primis in faucibusorci luctus et ultrices posuere cubilia curae;
        </p>
        <button id="button-learn-more" type="button">Learn more</button>
      </section>
    </div>
    <section id="sect-features">
      <div class="title-features">
        <h3>App Features</h3>
      </div>
      <div class="container-0">
        <article class="art-features">
          <img
            src="../../assets/imgs/Appointment-booking.svg"
            alt="Appointment booking image"
          />
          <div>
            <h2>Appointment booking</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eos
              placeat ratione, sed numquam ipsa modi sunt repudiandae reiciendis
              dolore hic ut corrupti ad earum minus libero voluptas qui.
            </p>
          </div>
        </article>
        <article class="art-features">
          <img
            src="../../assets/imgs/Membership-management.svg"
            alt="Membership management"
          />
          <div>
            <h2>Membership management</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eos
              placeat ratione, sed numquam ipsa modi sunt repudiandae reiciendis
              dolore hic ut corrupti ad earum minus libero voluptas qui.
            </p>
          </div>
        </article>
      </div>
      <div class="container-0">
        <article class="art-features">
          <img
            src="../../assets/imgs/Schedule-and-timetables.svg"
            alt="Schedule and timetables"
          />
          <div>
            <h2>Schedule and timetables</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eos
              placeat ratione, sed numquam ipsa modi sunt repudiandae reiciendis
              dolore hic ut corrupti ad earum minus libero voluptas qui.
            </p>
          </div>
        </article>
        <article class="art-features">
          <img
            src="../../assets/imgs/Contact-and-suggestions.svg"
            alt="Contact and suggestions"
          />
          <div>
            <h2>Contact and suggestions</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eos
              placeat ratione, sed numquam ipsa modi sunt repudiandae reiciendis
              dolore hic ut corrupti ad earum minus libero voluptas qui.
            </p>
          </div>
        </article>
      </div>
    </section>
    <section id="sect-form">
      <div class="title-features">
        <h3>Contact</h3>
      </div>
      <form>
        <div class="form-1">
          <label class="label-2">Name</label>
          <input id="name" type="text" name="name" placeholder="Name" />
          <p id="name-error">This field is required</p>
          <p id="name-error-2">
            This field must contain letters only and must be more than 3
            letters.
          </p>
        </div>
        <div class="form-1">
          <label class="label-2">Last name</label>
          <input id="l-name" type="text" name="lname" placeholder="Last Name"/>
          <p id="lname-error">This field is required</p>
          <p id="lname-error-2">
            This field must contain letters only and must be more than 3
            letters.
          </p>
        </div>
        <div class="form-1">
          <label class="label-2">Email</label>
          <input id="email" type="text" name="email" placeholder="Email" />
          <p id="email-error">This field is required</p>
          <p id="email-error-2">Enter a valid email address</p>
        </div>
        <label class="label-2">Contact Reason</label>
        <input id="contact-area" type="text" name="contact-area" />
        <label class="label-2">Message</label>
        <input id="message" type="text" name="message" placeholder="Write here"></input>
          <p id="message-error">This field is required</p>
          <p id="message-error-2">
            This field must contain Alphanumeric text and must have more
            than 3 characters.
           </p>
        <div id="buttons">
          <button class="button-clear" type="reset">Clear</button>
          <button class="button-submit" type="submit">Send it</button>
        </div>
      </form>
    </section>
    <article id="art-history">
      <h3>History</h3>
      <p id="border-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        feugiat ante odio, id semper erat varius ut. Fusce ultricies tempor
        vehicula. Donec egestas ligula lacus, nec eleifend odio. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Phasellus dignissim imperdietultricies
      </p>
      <div class="container-1">
        <div>
          <h4>Origin</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro
            autem, accusamus doloribus molestias expedita quisquam distinctio
            pariatur nesciunt et eos quia officiis repellendus consequuntur
            ratione fuga dolor. Facilis tenetur sequi animi repellendus ea
            impedit officia culpa delectus nam. Iure. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Fugit porro autem, accusamus doloribus
            molestias expedita quisquam distinctio pariatur nesciunt et eos quia
            officiis repellendus consequuntur ratione fuga dolor. Facilis
            tenetur sequi animi repellendus ea impedit officia culpa delectus
            nam. Iure.
          </p>
          <img
            class="img-none"
            src="../../assets/imgs/origen.png"
            alt="gyms origin"
          />
        </div>
        <span>
          <img src="../../assets/imgs/mision.png" alt="gyms mission" />
          <img src="../../assets/imgs/origen.png" alt="gyms origin" />
        </span>
        <div>
          <img
            class="img-none"
            src="../../assets/imgs/mision.png"
            alt="gyms mission"
          />
          <h4>Mission</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro
            autem, accusamus doloribus molestias expedita quisquam distinctio
            pariatur nesciunt et eos quia officiis repellendus consequuntur
            ratione fuga dolor. Facilis tenetur sequi animi repellendus ea
            impedit officia culpa delectus nam. Iure. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Fugit porro autem, accusamus doloribus
            molestias expedita quisquam distinctio pariatur nesciunt et eos quia
            officiis repellendus consequuntur ratione fuga dolor. Facilis
            tenetur sequi animi repellendus ea impedit officia culpa delectus
            nam. Iure.
          </p>
        </div>
      </div>
    </article>
    <section id="sect-activities">
      <div class="container-0">
        <article class="art-activities">
          <img src="../../assets/imgs/Activities.svg" alt="Activities" />
          <div>
            <h2>Activities</h2>
            <ol>
              <li>Crossfit</li>
              <li>Spinning</li>
              <li>Functional</li>
              <li>Boxing</li>
              <li>Fitness</li>
            </ol>
          </div>
        </article>
        <article class="art-activities">
          <img
            src="../../assets/imgs/black-membership.svg"
            alt="Black membership"
          />
          <div>
            <h2>Black Membership</h2>
            <ol>
              <li>Free pass to the weight room</li>
              <li>Free pass to the lessons (previously enrolled)</li>
              <li>Personalized follow up by a trainer</li>
              <li>Grid visualization</li>
            </ol>
          </div>
        </article>
      </div>
      <div class="container-0">
        <article class="art-activities">
          <img
            src="../../assets/imgs/Classic-Membership.svg"
            alt="Classic Membershipp"
          />
          <div>
            <h2>Classic Membership</h2>
            <ol>
              <li>Free pass to the weight room</li>
              <li>Personalized follow up by a trainer</li>
              <li>Grid visualization</li>
            </ol>
          </div>
        </article>
        <article class="art-activities">
          <img
            src="../../assets/imgs/Only-Classes-Membership.svg"
            alt="Only classes membership"
          />
          <div>
            <h2>Only Classes Membership</h2>
            <ol>
              <li>Free pass to the weight room</li>
              <li>Grid visualization</li>
            </ol>
          </div>
        </article>
      </div>
    </section>
    <nav id="pagination">
      <button class="page-btn">prev</button>
      <button class="page-btn">1</button>
      <button class="page-btn">2</button>
      <button class="page-btn">3</button>
      <button class="page-btn">4</button>
      <button class="page-btn">5</button>
      <button class="page-btn">...</button>
      <button class="page-btn">next</button>
    </nav>
    <footer>
      <nav id="social-media-footer">
        <ul>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/lnkd.svg" alt="linkedin icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/twitter.svg" alt="twitter icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img
                src="../../assets/imgs/facebook-fill.svg"
                alt="facebook icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/instagram.svg" alt="instagram icon"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="../../assets/imgs/github.svg" alt="github icon"
            /></a>
          </li>
        </ul>
      </nav>
      <p>Rosario, Argentina</p>
      <p>Copyright &copy; 2023 Mega Rocket. All rights reserved.</p>
    </footer>
  </body>
</html>
