.body{
  margin: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header{
  height: 135px;
  border-bottom: 9px rgba(170, 206, 155) solid;
}

h1{
  position: relative;
  top: 80px;
  color: rgba(55, 56, 103, 0.4);
  font-size: 30px;
}

.hamburguer-icon{
  position: relative;
  top: -60px;
}

.social-media{
  padding-left: 1030px;
  margin: -50px;
} 

.social-media li{
  display: inline;
  padding: 10px;
} 

a {
  text-decoration: none;
}

.side-bar{
  display: none;
}

.sect-welcome{
  height: 800px;
  margin-top: -20px;
  background-color: rgba(170, 206, 155, 0.1);
}

.container-1{
  position: relative; 
  top: 100px;
  width: 700px;
  height: ;
}

h2, h3, h4{
  color: rgba(55, 56, 103);
}

.title-welcome, h3{
  font-size: 40px;  
}

.uppercase{
  text-transform: uppercase;
  font-weight: bold;
}

.title-winner{
  color: rgba(55, 56, 103, 0.4);
  font-size: 30px;
}

.img-people{
  width: 677px;
  height: 698px;
  position: relative;
  float: right;
  top: -500px;
  padding: 20px;
}

.p1{
  margin: 70px 10px 75px 10px ;
  color: rgba(55, 56, 103, 0.4);
  width: 600px;
  line-height: 35px;
  word-spacing: 3px;
}

.sect-features {
  display: inline-block;
  margin-top: -400px;
  border-top: 1px solid rgb(221, 225, 227);
  padding-top: 60px;
}

.title-features{
  display: inline-block;
  width: 180px;
  border-bottom: 4px solid rgba(170, 206, 155); 
}

.container-0{
  display: inline-block;
  padding-top: 60px;
}

.art-features{
  display: inline-block;
  width: 650px;
  padding-left: 10px;
  padding-right: 10px;
}

.float-left-0{
  position: relative;
  top: 0px;
  right: 0px;
  float: left;
}

.float-right-0{
  position: relative;
  width: 450px;
  top: -50px;
  right: 0px;
  float: right;
}


.float-left-01{
  position: relative;
  top: -15px;
  right: 0px;
  float: left;

}

.float-right-01{
  position: relative;
  width: 490px;
  top: -69px;
  right: 0px;
  float: right;
}

.container-02{
  display: inline-block;
  padding-top: 60px;
}

.float-left-00{
  position: relative;
  top: 0px;
  right: 0px;
  float: left;
}

.float-right-00{
  position: relative;
  width: 459px;
  top: -50px;
  right: 0px;
  float: right;
}

.float-left-02{
  position: relative;
  top: -20px;
  right: 0px;
  float: left;

}

.float-right-02{
  position: relative;
  width: 490px;
  top: -71px;
  right: 0px;
  float: right;
}

.p2{
  font-size: 14px;
}

.sect-form{
  margin-top: 100px;
  border-top: 1px solid rgb(221, 225, 227);
  padding-top: 60px;
}

input[type=text],input[type=email]{
  width: 457px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1.5px solid rgba(55, 56, 103, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 700px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1.5px solid rgba(55, 56, 103, 0.4);
  border-radius: 4px;
  box-sizing: border-box  ;
}

textarea {
  width: 1380px;
  height: 200px;
  padding: 12px 20px;
  margin: 30px 0;
  margin-bottom: 50px;
  display: inline-block;
  border: 1.5px solid rgba(55, 56, 103, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
}

.label-2{
  display: block;
  margin-top: 30px;
  color: rgba(55, 56, 103);
  font-weight: bold;
}

.form-1{
  display: inline-block;
  color: rgba(55, 56, 103);
  font-weight: bold;
}

.button-1{
  margin-top: 200px;
  margin-right: 100px;
}

.art-history{
  margin-top: 100px;
  border-top: 1px solid rgb(221, 225, 227);
  padding-top: 60px;
}

.p3{
  padding-left: 20px;
  font-size: 14px;
  color: rgba(55, 56, 103, 0.4);
  line-height: 30px;
  word-spacing: 3px;
  border-left: 5px solid  rgba(55, 56, 103);
}

.p4{
  font-size: 14px;
  color: rgba(55, 56, 103, 0.4);
  line-height: 30px;
  word-spacing: 1px;
  border-bottom: 2px solid rgba(55, 56, 103);
  padding-bottom: 50px;
  padding-right: 30px;
}

.p5{
  font-size: 14px;
  color: rgba(55, 56, 103, 0.4);
  line-height: 30px;
  word-spacing: 1px;
  border-top: 2px solid rgba(55, 56, 103);
  padding-top: 30px;
  padding-left: 10px;
}

.origin{
  overflow: hidden;
  float:left;
  width: 650px;
  padding-right: 20px;
}

.mission{
  overflow: hidden;
  float: right;
  width: 650px;
  padding: 20px;
}

.container-2{
  display: inline-block;
}

.img-origin{
  border-radius: 40px;
  margin-top: 30px;
  margin-left: -15px;
}

.sect-activities{
  margin-top: 100px;
  border-top: 1px solid rgb(221, 225, 227);
  padding-top: 60px;
}

.container-3{
  display: inline-block;
}

.container-4{
  display: inline-block;
}

.float-right1{
  position: relative;
  top: 10px;
  right: -50px;
  float: right;
}

.float-left1{
  position: relative;
  top: 73px;
  right: 20px;
  float: left;
}

.float-right2{
  position: relative;
  top: -5px;
  right: -85px;
  float: right;
}

.float-left2{
  width: 142px;
  height: 142px;
  position: relative;
  top: 48px;
  right: -30px;
  float: left;
}

.art-activities{
  display: inline-block;
  padding-left: 100px;
  padding-right: 160px;
}

.float-right3{
  position: relative;
  top: -110px;
  right: -250px;
  float:right;
}

.float-left3{
  width: 148px;
  height: 148px;
  position: relative;
  top: 73px;
  right: -50px;
  float: left;
}

.float-right4{
  position: relative;
  top: -128px;
  right: -318px;
  float: right;
}

.float-left4{
  width: 130px;
  height: 130px;
  position: relative;
  top: 45px;
  right: -120px;
  float: left;
}

.art-activities-2{
  display: inline-block;
  width: 350px;
  padding-left: 35px;
  padding-right: 167px;
}

.pagination{
  display: inline;
  padding: 10px;
  text-align: center;
}

.pagination a{
  display: inline;
  padding: 15px;
  text-align: center;
} 

.footer{
  margin-top: 60px;
  border-top: 9px rgba(170, 206, 155) solid;
}

.social-media-footer{
  text-align: center;
  padding-top: 60px;
} 

.social-media-footer li{
  display: inline;
  padding: 10px;
} 

.p6{
  padding: 60px;
  color: rgba(104, 105, 119) ;
  text-align: center;
}