<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Week-06/css/reset.css" />
    <link rel="stylesheet" href="../../Week-06/css/styles.css" />
    <link rel="stylesheet" href="../../Week-06/css/main.css" />
    <link rel="stylesheet" href="../../Week-06/css/header.css" />
    <link rel="stylesheet" href="../../Week-06/css/footer.css" />
    <link rel="stylesheet" href="../../Week-06/css/login.css" />
    <script src="../../Week-06/js/login.js"></script>
    <title>Log in - Mega Rocket</title>
  </head>
  <body>
    <header>
      <div id="container">
        <h1>Mega Rocket</h1>
        <div id="mr-icon">
          <a href=""
            ><img src="../../assets/imgs/mr-icon.svg" alt="menu icon"
          /></a>
        </div>
      </div>
    </header>
    <section>
      <div id="form-group">
        <div id="capsule">
          <h3>Mega Rocket</h3>
          <h4>Login</h4>
          <form>
            <label class="label-2" for="email">Email:</label>
            <input type="text" id="email" name="email" />
            <p id="emailError"></p>
            <p id="emailError-2"></p>
            <label class="label-2" for="pass">Password:</label>
            <input type="password" id="pass" name="pass" />
            <div class="buttons-1">
              <input class="button-sign-up" type="button" value="Home" />
              <input class="button-login" type="submit" value="Log in" />
            </div>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <p>Rosario, Argentina</p>
      <p>Copyright &copy; 2023 Mega Rocket. All rights reserved.</p>
    </footer>
  </body>
</html>
