header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 70px;
  /* background-color: #f2f2f2; */
  border-bottom: .5rem rgba(170, 206, 155) solid;
}

h1 {
  color: rgba(55, 56, 103, 0.4);
  font-size: 1rem;
  padding-left: 2rem;
}

#container-1 {
  display: flex;
  align-items: center;
}

#hamburguer-icon {
  order: -1;
}

#social-media-header ul{
  display: flex;
}

#social-media-header li{
  list-style-type: none;
  padding: .2rem;
}


