body {
  min-width: 390px;
  margin: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2, h3, h4 {
  color: rgba(55, 56, 103);
}

#side-bar {
  display: none;
}

/* body */

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;  
}

h4 {
  font-size: 1.5em;
}

input[type=text],input[type=email]{
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: .1rem solid rgba(55, 56, 103, 0.4);
  border-radius: .5rem;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: .1rem solid rgba(55, 56, 103, 0.4);
  border-radius: .5rem;
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
  margin-bottom: 4rem;
  border: .1rem solid rgba(55, 56, 103, 0.4);
  border-radius: .5rem;
  box-sizing: border-box;
}

footer {
  margin-top: 5rem;
  border-top: .5rem rgba(170, 206, 155) solid;
}

footer > nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  padding-top: 1.5rem;
  margin: 0 auto;
}

footer > nav > ul >li{
  list-style-type: none;
  padding: .1rem;
  flex-grow: 1;
}

footer > p {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#title-winner {
  color: rgba(55, 56, 103, 0.4);
  font-size: 2em;
}

#sect-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 206, 155, 0.1);
}

#sect-welcome > div > p {
  color: rgba(55, 56, 103, 0.4);
  line-height: 2em;
  word-spacing: .5em;
  padding-left: .5rem;
  text-align: left;
}

#sect-welcome > div > img {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  border-radius: 1rem;
}

#button-learn-more {
  display: none;
  padding: 15px 32px;
  margin-left: 30px;
  border: none;
  border-radius: 6px;
  color: rgba(55, 56, 103);
  background-color: rgba(170, 206, 155);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#sect-features , #sect-form , #art-history , #sect-activities {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  border-top: 1px solid rgb(221, 225, 227);
  padding-top: 2rem;
}

#sect-features p {
  width: 100%;
  color: rgba(55, 56, 103);
  font-size: 1em;
}

#buttons {
  display: flex;
  justify-content: space-around;

}

#art-history p {
  color: rgba(55, 56, 103, 0.4);
  font-size: 1em;
  line-height: 1.5em;
  word-spacing: .5em;
}

#border-p {
  border-left: 5px solid  rgba(55, 56, 103);
  padding-left: 1em;
}

#art-history p {
  color: rgba(55, 56, 103, 0.4);
  font-size: 1em;
  line-height: 1.5em;
  word-spacing: .5em;
}

#sect-activities > .container-0{
  justify-content: space-around;
  align-items: center;
}

#pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 45rem;
}

.uppercase {
  text-transform: uppercase;
}

.title-features {
  width: 13rem;
  height: 5rem;
  border-bottom: .2rem solid rgba(170, 206, 155); 
}

.container-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: rem;
}

.art-features{
  padding-bottom: 2rem;
}

.label-1 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: rgba(55, 56, 103);
  font-weight: bold;
}

.button-submit {
  background-color: rgba(170, 206, 155);
  border: none;
  color: rgba(55, 56, 103);
  width: 8rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1em;
  border-radius: .5rem;
  cursor: pointer;
}

.button-clear {
  background-color: white;
  border-color: rgba(55, 56, 103);
  color: rgba(55, 56, 103);
  width: 8rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1em;
  border-radius: .5rem;
  cursor: pointer;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-1 img {
  width: 100%;
  height: 30%;
  border-radius: .8em;
}

.p1 {
  padding-left: 1.5em;
  color: rgba(55, 56, 103, 0.4);
  border-left: .3rem solid  rgba(55, 56, 103);
  font-size: 1em;
  line-height: 1.5em;
  word-spacing: .5em;
}

.art-activities{
  max-width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: ;
  padding-bottom: 2rem;
  color: rgba(55, 56, 103);
  font-size: 1em;
}

.art-activities > div > h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.art-activities > div {
  width: 18rem;
  height: 15.125rem; 
  text-align: center;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

.art-activities > img {
  width: 8.875rem;
  height: 8.875rem;
}

.page-btn {
  padding: .5rem 1.2rem;
  margin: 0 auto;
  color: rgba(170, 206, 155);
  background-color: white;
  border: solid rgba(170, 206, 155);
  border-radius: .5rem;
  cursor: pointer;
  text-transform: uppercase;
} 

.page-btn:nth-child(5),
.page-btn:nth-child(6) {
  display: none;
}

/* media queries */ 

@media only screen and (min-width: 601px) {
  #sect-welcome > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  }

  #sect-welcome > div >p {
  order: -1;
  }
  
  .container-0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: ; 
  padding-top: 2rem;
  padding-bottom: 1rem;
  }

  .art-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}

  .float-right{
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;
  float:right;
}

  .float-left{
  position:relative;
  float:left;
}

  .container-1 {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

  .art-activities {
  max-width: 30rem;
  }

  .container-1 > div > p {
  border-left: 2px solid  rgba(55, 56, 103);
  padding-left: 1rem;
}

}

@media only screen and (min-width: 1025px) {
  #hamburguer-icon {
  display:none;
}
  

}