footer {
  margin-top: 5rem;
  border-top: .5rem rgba(170, 206, 155) solid;
}

footer > nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  padding-top: 1.5rem;
  margin: 0 auto;
}

footer > nav > ul >li {
  list-style-type: none;
  padding: .1rem;
  flex-grow: 1;
}

footer > p {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

