input {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(55, 56, 103, 0.4);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

#form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10%;
  background-color: white;
}

.button-login {
  width: 8rem;
  padding: 1rem 2rem;
  background-color: white;
  border-color: rgba(55, 56, 103);
  color: rgba(55, 56, 103);
  text-align: center;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-sign-up {
  width: 8rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  background-color: white;
  border-color: rgba(55, 56, 103);
  color: rgba(55, 56, 103);
  text-align: center;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttons-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
