input {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(55, 56, 103, 0.4);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

#form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  padding: 10%;
  background-color: white;
}

#emailerror {
  display: none;
}

#emailerror-2 {
  display: none;
}

#passerror {
  display: none;
}

#passerror-2 {
  display: none;
}

#button-login-flex {
  display: flex;
  justify-content: center;
}

.button-login {
  width: 14rem;
  padding: 1rem 1rem;
  margin-top: 2rem;
  background-color: white;
  border-color: rgba(55, 56, 103);
  color: rgba(55, 56, 103);
  text-align: center;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-sign-up {
  width: 8rem;
  padding: 1rem 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: white;
  border-color: rgba(55, 56, 103);
  color: rgba(55, 56, 103);
  text-align: center;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttons-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
